<%= t(:salutation) %> <%= @order.name %> ,

  <%= t(:order_thanks) %>
  <%= t(:following_order) %>
<table>
  <tr>
<% @order.line_items.each do |line_item| %>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
  <%= image_tag attachments[line_item.product.images.first.name].url %>
<% end %>
  </tr>
</table>

<%= t(:when_order_ships) %>
