<table>
  <% @products.each do |product| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
      <% if product.images.empty? %>
        <%= image_tag(product.image_url, class: 'list_image') %>
      <% else %>
        <%= image_tag(product.images.first.id, class: 'list_image') %>
      <% end %>
      </td>
      <td class="list_description">
        <dl>
          <dt><%= product.title %></dt>
          <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
        </dl>
      </td>
      <td>
        <%= select_tag :value, options_for_select(RATING_STEP),
              include_blank: 'Product Review',
              data: { rating: '', product_id: product.id,
              url: ratings_path } %>
          <% if product.ratings.exists? %>
            <p> <%= product.rating_average %></p>
          <% else %>
            <p>Not yet rated.</p>
          <% end %>
      </td>
      <td class="list_actions">
        <%= link_to 'Show', product %><br/>
        <%= link_to 'Edit', edit_product_path(product) %><br/>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
