<h1>Listing products</h1>
<table>
<% @products.each do |product| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td>
<%= image_tag(product.image_url, class: 'list_image') %>
</td>
<td class="list_description">
<dl>
<dt><%= product.title %></dt>
<dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
</dl>
</td>
<td class="list_actions">
<%= link_to 'Show', product %><br/>
<%= link_to 'Edit', edit_product_path(product) %><br/>
<%= link_to 'Destroy', product, method: :delete,
data: { confirm: 'Are you sure?' } %>
</td>
</tr>
<% end %>
</table>
<br />
<%= link_to 'New product', new_product_path %>


<!-- Category and Subcategory Listing for the category exercise would shift this when the Category CRUD is made. -->
<hr>
<h1>Category Listing for the category exercise</h1>
<h1>Listing Category</h1>
  <% @category.each do |c| %>
    <h5><%= c.title %></h5>
      <% c.products.each do |a| %>
      <ul>
          <li><h5>Product: <%= a.title %></h5></li>
        </ul>
      <% end %>

    <% c.subcategories.each do |s| %>
        <ul>
          <li>Subcategory: <%= s.title %></li>
      <% s.products.each do |a| %>
      <ul>
          <li><h5>Product: <%= a.title %></h5></li>
        </ul>
      <% end %>
        </ul>
      <% end %>
  <% end %>

