<!DOCTYPE html>
<html>
  <head>
    <title>Custom Layout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <h5>Custom Layout Designed</h5>
    <%= yield %>
  </body>
</html>
